extends layout

block content
  h1= Tasks
  p Welcome to #{title}
  h2 See awaiting users:
  table
    tr 
      th Email
      th Rights

    each account in accounts
      tr
        td #{account.email}
        td #{account.rights}