extends layout

block content
  h1= Tasks
  p Welcome to #{title}
  h2 See tasks:
  each account in accounts
        div
          p email: #{account.email}
          p Description: #{account.rights}
          hr

