extends layout

block content
  h1= Tasks
  p Welcome to #{title}
  h2 See awaiting users:
  table
    tr 
      th Email
      th Rights

    each account in accounts
      tr
        td #{account.email}
        td #{account.rights}
        td 
          a(href="/users/approve/" + account._id) Approve
        td 
          a(href="/users/decline/" + account._id) Decline