extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Register a new user:
  form(action="/createUser" method="post")
    input(type="text" name="firstname" placeholder="First name" required)
    input(type="text" name="lastname" placeholder="Last name")
    input(type="email" name="email" placeholder="Email" required)
    input(type="password" name="password" placeholder="Password" required)
    //- input(type="text" name="rights" placeholder="rights")
    input(type="submit" value="Create User")