doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
        li 
          a(href="/") Home
        li 
          a(href="/users/createUser") Create user 
        li 
          a(href="/users/login") Login
        if user || admin 
          li 
            a(href="/users/tasks") Show test Tasks
          li 
            a(href="/users/addTasks") Create a task
          if admin
            li 
              a(href="/users/awaiting") Awaiting
          a(href="/users/logout")   
            button logout
    block content
